.app {
  display: grid;
  width: calc(100% - 0.7rem);
  height: 34rem;
  gap: 0.7rem;
  grid-template-columns: 40% 60%;
}

/*********************************************************/

.about,
.resume,
.contact,
.tech-stack,
.projects {
  border-radius: 1.2rem;
  color: var(--color-text);
  background-color: var(--color-box);
  box-shadow: 0 0 0.5rem 0.1rem transparent;
  transition: all 0.6s ease;
}

.about:hover,
.resume:hover,
.contact:hover,
.tech-stack:hover,
.projects:hover {
  cursor: pointer;
  box-shadow: 0 0 0.5rem 0.1rem var(--color-blue);
  transition: all 0.3s ease;
}

/*********************************************************/

.details {
  display: grid;
  gap: 0.7rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 16rem 8.5rem 9.5rem;
}

.about,
.tech-stack {
  grid-column-start: 1;
  grid-column-end: 3;
}

/*********************************************************/

.about {
  position: relative;
}

.about-image {
  background-image: url("/assets/images/my-image/Anmol\ Image\ Blue\ BG.png");
  width: 7.5em;
  height: 7.5rem;
  margin: 1.6rem 0 0 1.6rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.about-text {
  margin: 1rem 1.8rem;
}

.about-text > h1 {
  position: relative;
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
}

.about-text > p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.hello {
  display: inline-block;
  position: absolute;
  bottom: 0.2rem;
  margin-left: 0.4rem;
  transform: rotateZ(-10deg);
}

/*********************************************************/

.resume,
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.resume-image,
.contact-image {
  width: 3.5rem;
  height: 3.5rem;
  margin: 1.5rem 0 0.5rem 0;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.resume-image svg path {
  fill: var(--color-text);
}

.contact-image svg path {
  stroke: var(--color-text);
}

.resume:hover > .resume-image svg path {
  fill: var(--color-blue);
}

.contact:hover > .contact-image svg path {
  stroke: var(--color-blue);
}

/*********************************************************/

.tech-stack {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.tech-stack:hover {
  cursor: default;
}

.tech-stack-text {
  font-size: 1.2rem;
  font-weight: 700;
}

.tech-stack-images {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tech-stack-image {
  width: 4vw;
  height: 4vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.tech-stack-image:hover {
  cursor: pointer;
}

.tech-stack-image-html {
  background-image: url("/assets/images/tech-stack/html.svg");
}

.tech-stack-image-css {
  background-image: url("/assets/images/tech-stack/css.svg");
}

.tech-stack-image-sass {
  background-image: url("/assets/images/tech-stack/sass.svg");
}

.tech-stack-image-js {
  background-image: url("/assets/images/tech-stack/js.svg");
}

.tech-stack-image-ts {
  background-image: url("/assets/images/tech-stack/ts.svg");
}

.tech-stack-image-react {
  background-image: url("/assets/images/tech-stack/react.svg");
}

.tech-stack-image-tailwind {
  background-image: url("/assets/images/tech-stack/tailwind.svg");
}

/*********************************************************/

.projects {
  position: relative;
}

.prev,
.next {
  top: 46%;
  margin: 0rem 0.5rem;
  position: absolute;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.prev {
  left: 0;
  top: 47%;
  transform: scaleX(-1);
}

.next {
  right: 0;
}

.prev svg,
.next svg {
  stroke: var(--color-box);
}

.prev:hover svg,
.next:hover svg {
  stroke: var(--color-blue);
}

.counter {
  bottom: 1rem;
  width: 16%;
  margin: 0 42%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.counter:hover {
  cursor: default;
}

.counter-point {
  width: 0.9rem;
  height: 0.9rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.counter-point {
  cursor: pointer;
}

.counter-point svg {
  stroke: var(--color-box);
}

.counter-point-active svg path {
  fill: var(--color-box);
}

/*********************************************************/

.project-display {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  position: relative;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  position: absolute;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  /* box-shadow: 0 0 5rem 1rem var(--color-box) inset; */
  /* transition: all 0.2s ease-out; */
}

.project-image:hover {
  cursor: default;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1.2rem;
  background: var(--color-box);
  transition: opacity 0.5s ease;
}

.overlay:hover {
  transition: opacity 0.3s ease;
}

.overlay-dark {
  opacity: 0.4;
}

.overlay-dark:hover {
  opacity: 0.2;
}

.overlay-bright {
  opacity: 0.2;
}

.overlay-bright:hover {
  opacity: 0.05;
  filter: brightness(1.1);
}

.project-1-image {
  background-image: url("/assets/images/project-images/movies-n-pop.jpeg");
}

.project-2-image {
  background-image: url("/assets/images/project-images/WorldWise.jpeg");
}

.project-3-image {
  background-image: url("/assets/images/project-images/FlexBox\ Froggy\ Game.jpeg");
}

.project-4-image {
  background-image: url("/assets/images/project-images/Zapp\ Food.jpeg");
}

.project-5-image {
  background-image: url("/assets/images/project-images/Chitr\ -\ Video\ Streaming\ Platform.jpeg");
}

/*********************************************************/

.project-description {
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  border-radius: 1.2rem;
  padding: 1rem 1.3rem;
  position: absolute;
  color: var(--color-text);
  background-color: var(--color-box);
  opacity: 0.83;
}

.project-description:hover {
  opacity: 0.99;
}

.project-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.project-name {
  font-size: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tagline {
  margin-bottom: 0.7rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.language > code {
  padding: 0.2rem 0.4rem;
  margin: 0 0.5rem 0 0;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  color: var(--color-box);
  background-color: var(--color-blue);
}

.project-details {
  width: 100%;
  margin-top: 0.9rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25;
}

.link-icon {
  height: 1.6rem;
  width: 1.6rem;
  margin-top: 0.6rem;
  background-image: url("/assets/images/link/link.svg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/*************************************************************************************************************/

.disable {
  display: none;
}

/*************************************************************************************************************/
