@media screen and (max-width: 900px) {
  .resume-pdf {
    height: 1000px;
    width: 98%;
    margin: 1rem 1% 0 1%;
  }
}

/*************************************************************************************************************/
